@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.app{
    background-color:rgb(24,26,42);    
}
.container{
    width: 1200px;
    max-width: 100%;
    margin-inline: auto;    
}
@media (max-width: 1200px) {
    .container{
        max-width: 100%;
    }
}
/* Header */
.head{ 
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}
.container .logo{
    display: flex;
    gap: 10px;
}
.container .logo img{
    width: 158px;
    height: 36px;
    gap: 0px;
    opacity: 0px;
}
.container .logo h3{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding: 10px 0px;
} 
.container .logo h3 span{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    padding: 10px 15px;
}
.head ul li a{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1); 
    text-decoration: none;
    transition: all 0.3s;
}
.head ul li a:hover{
    color: rgba(75, 107, 251, 1);
}
.login-signup ul{
    display: flex;
}
.login-signup ul li{
    padding: 10px 15px;
}

.search{
    display: flex;
}
.isearch{
    position: relative;
}
.isearch input{
    background:  rgba(36, 37, 53, 1);
    border: none;
    width: fit-content;
    border-radius: 5px;
    padding: 10px 15px;
    color: #A1A1AA;
}
.isearch input:focus {
    outline: none;
}
.isearch input::placeholder{
    color: #A1A1AA;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.isearch .sicon{
    position: absolute;
    top: 15px;
    right: 10px;
    color: rgba(82, 82, 91, 1);
}
.toggle{
    margin-left: 30px;
}
.button{
  background-color: #d2d2d2;
  width: 70px;
  height: 40px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
}
.button::before{
    position: absolute;
    content: " ";
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 100px;
    margin: 5px;
    transition: .5s;
}
input:checked + .button{
    background: rgba(75, 107, 251, 1);
}
input:checked + .button::before{
    transform: translateX(30px);
}
.toggle input{
    display: none;
}
/* Landing page */

.img{
    position: relative;
    margin-bottom: 40px;
}
.img img{
    width: 100%;
    height: max-content;
}
.technology{
    background: rgba(24, 26, 42, 1);
    box-shadow: 0px 12px 24px -6px #181A2A26;
    border: 1px solid #242535;
    /* border: 1px solid green; */
    border-radius: 15px;
    padding: 30px;
    position: absolute;
    left: 64px;
    bottom: -64px;
}
.technology h4{
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    border: none;
    background: rgba(75, 107, 251, 1);
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
}
.technology p{
    font-family: Work Sans;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 20px 0px;
}
.technology .profile{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}
.technology .profile img{
    width: fit-content;
}
.technology .profile h3{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(151, 152, 159, 1);
    padding: 5px;
}
.technology .profile h5{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(151, 152, 159, 1);
    padding: 5px;
}
.container .advert{
    background: rgba(36, 37, 53, 1);
    width: 70%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 80px;
    border-radius: 15px;
    padding: 20px 0px;
}
.advert h4{
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: rgba(105, 106, 117, 1);
}
.advert h2{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: rgba(105, 106, 117, 1);
}
.advert p{
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: rgba(105, 106, 117, 1);
}
/* Posts */
.container .card{
    background:transparent;
    border: 1px solid rgba(36, 37, 53, 1)
}
.post h2{
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
}
.post .cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
    gap: 20px;
}
.post .cards .card{
    box-shadow: 0px 0px 0px 1px rgba(36, 37, 53, 1);
    width: 100%;
    padding: 16px;
    border-radius: 10px;
}
.post .cards .card .img-otr{
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}
.post .cards .card .img-otr::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}
.post .cards .card:hover .img-otr::after{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
}
.post .cards .card:hover .img-otr img{
    transform: scale(1.1);
}
.post .cards .card .img-otr img{
    width: 100%;
    transition: all 0.3s;
}
.post .cards .card h4{
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: rgba(75, 107, 251, 1);
    background: rgba(75, 107, 251, 0.05);
    width: fit-content;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 20px 0px;
}
.post .cards .card .heading{
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
.post .cards .card .intro{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.post .cards .card .intro img{
    vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.post .cards .card .intro p{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(151, 152, 159, 1);
    padding: 10px 0px;
}
.post .cards .card .intro p span{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 10px;
}
.post .view_post{
    text-align: center;
    margin: 40px 0px;
}
.post .view_post button{
    background: transparent;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(105, 106, 117, 1);
    padding: 12px 20px;
    border: 1px solid #696A754D;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
}
.post .view_post button:hover{
    background-color: rgba(75, 107, 251, 1);
    color: #fff;
}

/* Blog page */
.page_title{
    padding: 40px 0px;
}
.page_title h2{
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px; 
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.page_title p .vertical{
    border-left: 1px solid rgba(232, 232, 234, 1);
    margin: 0px 10px;
}
.page_title p{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(59, 60, 74, 1);
}
.technology-1{
    display: block;
    position: absolute;
    top: 330px;
    left: 40px;
}
.technology-1 .btn{
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    background: rgba(75, 107, 251, 1);

}
.technology-1 p{
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    color: white;
    margin: 10px 0px;
}
.technology-1 .profile-1{
    display: flex;
    color: white;
}
.technology-1 .profile-1 h3{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding: 5px ;
}
.technology-1 .profile-1 h5{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding: 5px;
}
/* Single post page */
.single-post{
    width: 800px;
    max-width: 100%;
    margin-inline: auto;
}
.sp-tech{
    color: white;
    margin: 20px 0px;
}
.sp-tech .btn{
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    background: rgba(75, 107, 251, 1);

}
.sp-tech p{
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    color: white;
    margin: 10px 0px;
}
.sp-tech .profile-1{
    display: flex;
    color: white;
}
.sp-tech .profile-1 h3{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding: 5px ;
}
.sp-tech .profile-1 h5{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding: 5px;
}
.single-post .text p{
    font-family: Source Serif Pro;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: rgba(186, 186, 191, 1);
    margin: 20px 0px;
}
.single-post .text h3{
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.single-post .quote{
    background: rgba(36, 37, 53, 1);
    padding:30px;
    border-left: 5px solid white;
    border-radius: 10px;
    margin: 20px 0px;
}
.single-post .quote i{
    font-family: Source Serif Pro;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.single-post .advert-1{
    background: rgba(36, 37, 53, 1);
    border-radius: 10px;
    max-width: 95%;
    margin: 30px auto;
    padding: 15px 0px;
}
.advert-1 h4{
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    color: rgba(105, 106, 117, 1);
}
.advert-1 h2{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 10px;
    text-align: center;
    color: rgba(105, 106, 117, 1);
}
.advert-1 p{
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: rgba(105, 106, 117, 1);
}
.advert-1 + .text {
    margin-bottom: 80px;
}
/* Pages page */
.container .page{
    background: rgba(36, 37, 53, 1);
    color: rgba(186, 186, 191, 1);
    padding: 40px 0px;
    border-radius: 10px;
    margin: 30px 0px;
}
.page .profile{
    display: flex;
    justify-content: center;
}
.page .info{
    padding: 20px 10px;
}
.page .profile h3{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.page .profile p{
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    text-align: left;

}
.page .page-intro p{
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: rgba(186, 186, 191, 1);
}
.page .page-icon{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.page-icon .icon-otr{
    background: rgb(105,106,117);
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s;
}
.page-icon .icon-otr .p-icon{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s;
}
.page-icon .icon-otr:hover{
    background-color: #fff;
}
.page-icon .icon-otr:hover .p-icon{
    color: rgb(105,106,117);
}
.container .p-post{
    margin: 100px 0px;
}
/* Contact */
.contact{
    max-width: 720px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    margin: 60px auto;
    border-radius: 20px;
}
.contact .form{
    background: white;
}
.contact .login{
    display: flex;
    justify-content: flex-end;
    background-color: white;
    margin-top: 10px;
}
.login h3 a{
    text-decoration: none;
    color: #787878;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 10px;
}
form{
    padding: 40px;
}
form h3{
    color: #434242;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}
form p{
    color: #434242;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
form input{
    font-family: Work Sans;
    width: 100%;
    border: none;
    border-bottom: 1px solid  #434242;
    margin: 10px 0px;
    transition: all 0.3s;
    padding-bottom: 5px;
}
form input:focus{
    outline: none;
    border-bottom: 1px solid  black;
}
form button{
    background: linear-gradient(to right, #7DD3CD, #41D2B8);
    border: none;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    color: white;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin:40px 0px;
}
.contact .image{
    position: relative;
    background-image: linear-gradient(to bottom, #53B2E8, #41D2B8 );
}
.contact .image .circle{
    position: absolute;
    top: 100px;
    right: 15px;
    background-color: #55ACD2;
    padding: 100px 150px;
    border-radius: 50%;
}
.contact .image .circle .card{
    background: white;
}
.image .key .i-key{
    /* background: #63FF99;
    color: white; */
    border: none;
}
.signup{
    width: 540px;
    margin: auto;
    background: white;
    border-radius: 10px;
    margin-bottom: 40px;
}
.signup h6 a{
    text-decoration: none;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
/* Footer */
footer{
    background:rgba(20, 22, 36, 1) ;
    margin: 0%;
    padding: 0px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px 0px;
    gap: 20px;
    justify-content: center;
    border-bottom: 1px solid rgba(151, 152, 159, 1);
}
.footer .about h2{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}
.footer .about p{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(151, 152, 159, 1);
    margin-bottom: 20px;
}
.footer .about h4{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.footer .about h4 span{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(151, 152, 159, 1);
}
a{
    text-decoration: none;
}
.links-otr{
    display: flex;
    gap: 0 80px;
    margin-left: 20px;
    justify-content: space-evenly;
}
@media (max-width: 768px) {
    .links-otr{
        justify-content: space-around;
    }
}
.footer .Qlink h2{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}
.footer .Qlink h4 a{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(186, 186, 191, 1);
    text-decoration: none;
    transition: all 0.3s;
}
.footer .Qlink h4 a:hover{
    color: rgba(75, 107, 251, 1);
}
.footer .category h2{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}
.footer .category h4 a{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(186, 186, 191, 1);
    text-decoration: none;
    transition: all 0.3s;
}
.footer .category h4 a:hover{
    color: rgba(75, 107, 251, 1);
}
.footer .newsletter{
    background: rgba(36, 37, 53, 1);
    border-radius: 10px;
    padding: 25px;
    width: 100% ;
}
.footer .newsletter h2{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.footer .newsletter p{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(151, 152, 159, 1);
}
.newsletter .email{
    position: relative;
    border: 1px solid red;
    background: rgba(24, 26, 42, 1);
    border: 1px solid rgba(59, 60, 74, 1);
    border-radius: 5px;
}
.newsletter .email input{
    background: transparent;
    width: calc(100% - 25px);
    border: none;
    padding: 12px 16px;
    color: #97989F;
}
.newsletter .email input:focus {
    outline: none;
}
.newsletter .email input::placeholder{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(151, 152, 159, 1);
}
.newsletter .email .eicon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color:rgba(105, 106, 117, 1);
    width: 25px;
    height: 25px;
}
.newsletter button{
    background: rgba(75, 107, 251, 1);
    width: 100%;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
.bottom{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* @media (max-width: 992px) {
    .bottom{
        flex-direction: column;
        justify-content: center;
    }
} */
.content{
    display: flex;
    gap: 10px;
}
.content img{
    width: 48px;
    height: 48px;
}
@media (max-width: 992px) {
    .content img{
        width: 40px;
        height: 40px;
    }
}
.content .inner_content h2{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.content .inner_content h2 span{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 800;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
}
.content .inner_content p{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* text-align: left; */
    color:rgba(186, 186, 191, 1);
}
.content .inner_content p span{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.bottom ul{
    display: flex;
    gap: 0 32px;
    align-items: center;
    padding-left: 0;
}

.bottom ul li a{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(186, 186, 191, 1);
    text-decoration: none;
    transition: all 0.3s;
}
.bottom ul li a:hover{
    color: rgba(75, 107, 251, 1);
}